@import "~@healthcatalyst/cashmere/scss/colors";

.content {
<<<<<<< HEAD
  background-color: $slate-gray-100;

  margin-top: 53px;
=======
  margin-top: 45px;
>>>>>>> 31704f90d3c9e7e9fea08fa9ef6c9457d0966459
  padding: 10px;
}
