<hc-navbar brandIcon="assets/images/victory_emblem.png" appIcon="assets/images/expansion_nc.png" homeUri="/randomizer" fixedTop="true">
  <hc-navbar-link uri="/randomizer" linkText="Randomizer"></hc-navbar-link>
  <!-- <hc-navbar-link uri="/reference" linkText="Reference"></hc-navbar-link> -->
  <hc-navbar-icon>
    <a title="View on GitHub" href="https://github.com/joeskeen/dominion-companion" target="blank">
      <hc-icon fontSet="fa" fontIcon="fa-github" icon-lg></hc-icon>
    </a>
  </hc-navbar-icon>

  <hc-navbar-mobile-menu appSwitcher="false">
    <hc-list>
        <hc-list-item routerLink="/randomizer" routerLinkActive="active-link">
            <span hcListLine>Randomizer</span>
        </hc-list-item>
        <!-- <hc-list-item routerLink="/refernce" routerLinkActive="active-link">
            <span hcListLine>Reference</span>
        </hc-list-item> -->
    </hc-list>
    <hr>
    <hc-list>
        <a href="https://github.com/joeskeen/dominion-companion">
            <hc-list-item>
                <span hcListLine>View on GitHub</span>
           </hc-list-item>
       </a>
    </hc-list>
</hc-navbar-mobile-menu>
</hc-navbar>

<div class="content">
  <h1 *ngIf="loading">LOADING...</h1>
  <router-outlet *ngIf="!loading"></router-outlet>
</div>
