<hc-navbar
  brandIcon="assets/images/_app-logo.svg"
  appIcon="assets/images/_app-wordmark.svg"
  homeUri="/randomizer"
  fixedTop="true"
>
  <!-- <hc-app-switcher
    brandIcon="assets/images/victory_emblem.png"
  ></hc-app-switcher> -->

  <hc-navbar-link uri="/randomizer" linkText="Randomizer"></hc-navbar-link>
  <!-- <hc-navbar-link uri="/reference" linkText="Reference"></hc-navbar-link> -->
  <!-- <hc-navbar-icon> -->
  <div class="hc-navbar-right-container">
    <a
      class="hc-navbar-github-button"
      title="View on GitHub"
      href="https://github.com/joeskeen/dominion-companion"
      target="blank"
    >
      <hc-icon fontSet="fa" fontIcon="fa-github" icon-lg></hc-icon>
    </a>
  </div>
  <!-- </hc-navbar-icon> -->

  <hc-navbar-mobile-menu appSwitcher="true">
    <hc-list>
      <hc-list-item routerLink="/randomizer" routerLinkActive="active-link">
        <span hcListLine>Randomizer</span>
      </hc-list-item>
      <!-- <hc-list-item routerLink="/refernce" routerLinkActive="active-link">
            <span hcListLine>Reference</span>
        </hc-list-item> -->
    </hc-list>
    <hr />
    <hc-list>
      <a href="https://github.com/joeskeen/dominion-companion">
        <hc-list-item>
          <span hcListLine>View on GitHub</span>
        </hc-list-item>
      </a>
    </hc-list>
  </hc-navbar-mobile-menu>
</hc-navbar>

<div class="content">
  <h1 *ngIf="loading">LOADING...</h1>
  <router-outlet *ngIf="!loading"></router-outlet>
</div>
