<img class="card_type_image" [src]="type.card_type_image" />
<img class="set-icon" *ngIf="expansion && expansion.image" [src]="expansion.image" [title]="expansion.set_name" />
<span class="name" [style.fontSize]="card.name.length > 12 ? 'smaller' : 'larger'">
    {{ card.name }}
</span>
<span class="types" [style.fontSize]="type.localeType.join(' - ').length > 20 ? 'x-small' : 'smaller'">
    {{ type.localeType.join(' - ') }}
</span>
<img *ngIf="card.cost" class="coin" src="assets/images/coin_small_empty.png">
<span *ngIf="card.cost" class="cost">{{card.cost || 0}}</span>
<img *ngIf="card.potcost" class="potcost" src="assets/images/potion.png">
<!-- <img class="set-icon" [src]="(expansions[card.cardset_tags[0]] || {}).image" /> 
        &nbsp; 
        <strong>{{card.name}}</strong> 
({{card.cost}}) 
[{{card.types.join(', ')}}] <em>{{card.description}}</em> -->