$height: 60px;
$width: 215px;

:host {
    display: block;
    position: relative;
    
    height: $height;
    min-height: $height;
    max-height: $height;
    
    width: $width;
    min-width: $width;
    max-width: $width;
}

.card_type_image {
    position: absolute;
    left: 0;
    top: 0;
    height: $height;
    width: $width;
    z-index: 0;
}

@mixin overlaid {
    position: absolute;
    z-index: 100;
}

.name {
    @include overlaid;
    left: 45px;
    top: 22px;
    font-size: larger;
    font-weight: 600;
}

.cost {
    @include overlaid;
    left: 5px;
    top: 30px;
    font-weight: bold;
    font-size: larger;
    display: block;
    width: 25px;
    text-align: center;
}

.coin {
    @include overlaid;
    width: 20px;
    left: 7.5px;
    top: 28px;
}

.potcost {
    @include overlaid;
    top: 30px;
    left: 28px;
    width: 10px;
}

.types {
    @include overlaid;
    left: 45px;
    top: 37px;
    font-size: smaller;
    font-weight: 600;
}

.set-icon {
    @include overlaid;
    right: 15px;
    top: 25px;
    width: 20px;
    height: 20px;
}