<h3>Cards</h3>
<i>Including {{selectedExpansions.length}} expansion(s)</i>
<div class="card"  *ngFor="let card of cards">
    <app-card-summary [card]="card" [expansion]="getExpansion(card)" [type]="getType(card)">
    </app-card-summary>
    <br/>
    <span [innerHTML]="card.description | description"></span>
</div>

<button hc-button (click)="randomize()">
    Re-Randomize!
</button>
<button hc-button color="secondary" title="Change Expansions" (click)="selectExpansions()">
    Change Expansions
</button>
